
.contact{
    padding: 20px 20px;
}
/*header section */
.header {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebfffc;
    display: flex;
    position:sticky;

}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
}

.nav a:hover {
    color: #007bff;
}
/*header section end */
.textarea, input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    color: #495057;
    box-sizing: border-box;

}
textarea :focus,
input :focus{
    outline: 0;
}
.half-row{
  
    display:inline-block;
    width: 550px;
    float:left;
    box-sizing: border-box;
}
.contact__email{
    padding-left: 0px;
}
textarea{
    width: 650px;
    margin: o;
    padding-right: 0;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}
.footer {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-links a img {
    width: 30px;
    height: 30px;
}
